@import "../../scss/variables.scss";

.weatherWindSection {
    width: 916px;
    height: 282px;
    border-radius: 54px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../static/Weather.svg");
    margin: 0 auto;
    text-align: center;
    padding: 28px 31px;
}

.weatherWindContent {
    width: 851px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherWindTitle {
    color: $footerTextColor;
    font-family: $montserrat;
    font-size: 32px;
    font-weight: 400;
}

.weatherAqiComponents {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherAQIWrapper {
    width: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherAQIIndex {
    color: $footerTextColor;
    font-family: $monda;
    font-size: 32px;
    font-weight: 400;
    margin-right: 13px;
}

.weatherAQIIndicator {
    width: 53px;
    height: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $footerTextColor;
}

.aqi_color100 {
    background-color: rgb(4, 248, 14);
}

.aqi_color90 {
    background-color: rgb(79, 231, 37);
}

.aqi_color70 {
    background-color: rgb(195, 209, 67);
}

.aqi_color50 {
    background-color: rgb(229, 196, 84);
}

.aqi_color40 {
    background-color: rgb(222, 104, 59);
}

.aqi_color20 {
    background-color: rgb(219, 65, 49);
}

.aqi_color10 {
    background-color: rgb(217, 43, 43);
}

.weatherAQIIcon {
    color: $whiteColor;
    font-size: 12px;
    font-family: $monda;
    font-weight: 700;
    text-transform: uppercase;
}

.AqiSlider {
    width: 117px;
    height: 24px;
    position: relative;
    border-radius: 16px;
    background: linear-gradient(90deg, #04f80e 0%, #e5c454 44.85%, #d92b2b 100%);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
}

.sliderStick {
    width: 23px;
    height: 2px;
    background-color: rgba(85, 85, 85, 0.75);
    transform: rotate(90deg);
    position: absolute;
    border-radius: 5px;
    top: 10.5px;
    left: 0;
    transition: left 0.2s;
}
