@import "../../scss/variables.scss";

.weatherSection {
    width: 916px;
    height: 282px;
    padding: 28px 31px;
    margin: 0 auto 23px;
    border-radius: 54px;
    background-color: $whiteColor;
    box-shadow: $box-shadow;

    
}

.weatherInfo {
    width: 851px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 15px;
}

.weatherInfoText {
    width: fit-content;
}

.weatherInfoTitle {
    color: $footerTextColor;
    font-family: $montserrat;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 5px;
    & > span {
        font-size: 22px;
    }
}

.weatherInfoSubtitle {
    color: $cardTextColor;
    font-family: $montserrat;
    font-size: 18px;
    font-weight: 400;
}

.textSize {
    font-size: 36px;
}

.textAlign {
    text-align: left;
}

.textPadding {
    padding-left: 3px;
}

.timeWeather {
    width: 887px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
}