@use 'src/scss/variables.scss' as *;

.card {
  min-width: 77px;
  width: 100%;
  height: 125px;
  margin: 13px;
  border-radius: 24px;
  background-color: $cardColor;
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardText {
  font-size: 14px;
  font-family: $monda;
  color: $cardTextColor;
  font-weight: 400;
  text-align: center;
}

.cardTemperature {
  font-weight: 700;
}

.cardImg {
  margin: 10px 0 10px 0;
}
