@import "../../../scss/variables.scss";

.profileContent {
  width: 100%;
  height: 64rem;
  // padding: 4.2rem 2.8rem 5.2rem 7rem;
  //   padding: 3.2rem 1.6rem 1.6rem 4rem;
  margin: 0 auto;
}

.profileSettings {
  height: 100%;
  padding: 4.8rem 0 0 5.2rem;
}

.profileTitle {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: $montserrat;
  color: $footerTextColor;
  align-items: flex-start;
  text-align: left;
  margin: 0 0 3rem 0.64rem
}

.wrapperProfileContent {
  width: 100.1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarContent {
  width: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.avatarContentTitle {
  color: $cardTextColor;
  font-family: $montserrat;
  font-weight: 700;
  font-size: 2.05rem;
  margin-bottom: 7px;
}

.avatarContentChangeBtn {
  color: #fff;
  text-align: center;
  font-size: 1.688rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  background-color: $orangeColorBtn;
  border-radius: 4px;
  width: 10rem;
  transition: all 0.2s;
  &:hover {
    background-color: $mainColorDarker;
  }
}

.textInfo {
  width: 537px;
  margin: 0 auto 34px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nicknameField {
  color: $cardTextColor;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.nicknameFieldText {
  margin: 10px 0 0 0;
  border-radius: 5px;
  padding: 20px 25px;
  border: 1px solid $footerTextColor;
  color: $footerTextColor;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 500;
}

.wrapperTextInfo {
 text-align: left;
}

.textInfoEmail {
  color: $cardTextColor;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.textInfoEmailContent {
  color: $footerTextColor;
  font-family: $montserrat;
  font-size: 16px;
  font-weight: 500;
}