@use 'src/scss/variables.scss' as *;

.overlay {
  position: absolute;
  width: 100vw;
  height: 1100px;
  overflow: hidden;
  background-color: rgba(85, 85, 85, 0.75);
  z-index: 998;
  animation: trans 0.5s;
}
