@import "src/scss/variables.scss";

.dropDown {
  width: 100%;
  height: 20rem;
  overflow-y: scroll;
  border-radius: 2rem;

  position: absolute;
  top: 130%;
  left: 0;

  display: flex;
  flex-direction: column;
  // gap: 0.6rem;

  box-shadow: 0 0 1.4rem 0.2rem rgba(85, 85, 85, 0.3);
  background-color: #fff;
  z-index: 999;

  font-size: 1.4rem;

  animation: slideDown 0.5s;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropDown li:not(:last-child),
.dropDown button:not(:last-child) {
  // border-bottom: solid 0.1rem #555;
  box-shadow: 0 0.3rem 0 -2px rgba(85, 85, 85, 0.3);
}

.item {
  width: 100%;
  padding: 1.8rem 1.2rem;
  background-color: inherit;
  display: flex;
  gap: 1rem;
}

.rejected {
  font-style: italic;
}

.btn:hover {
  background-color: #efefef;
  transition: all 0.2s;
}

.flag {
  font-size: 3.2rem;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}

.itemCity {
  font-size: 1.6rem;
}

.itemCountry {
  font-size: 1.2rem;
  font-style: italic;
  color: rgb(122, 122, 122);
}
