@import "../../scss/variables.scss";

.searchFormInput {
  padding: 0.8rem 4.8rem;
  width: 34rem;
  height: 4rem;
  background-color: $whiteColor;
  box-shadow: $box-shadow;
  border: $border-shadow;
  border-radius: 10rem;
  transition: box-shadow 0.2s;
  &::placeholder {
    position: relative;
    color: $placeholderColor;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $monda;
  }
  &:hover {
    box-shadow: $shadow--smallElements-hover--orange;
  }
  &:focus {
    box-shadow: $shadow--smallElements-hover--orange;
  }
}

.searchForm {
  width: 34rem;
  height: 4rem;
  position: relative;
}

.formBtn {
  position: absolute;
  bottom: 0.7rem;
  left: 1rem;
  background-color: transparent;
  cursor: pointer;
  & > img {
    transition: linear 0.2s;
  }
  &:hover > img {
    transform: scale(1.1);
  }
}
