.validate--empty::before {
  content: "🚫 це поле обов'зкове ! ";
  display: inline;
  padding: 0.6rem 1.2rem;
  background-color: rgba(217, 43, 43, 0.25);
  border: solid 0.14rem #D92B2B;
  border-radius: 0.6rem;

  color: #000;
  font-size: 1.2rem;
  
  position: absolute;
  left: 14rem;
  top: -0.2rem;

  animation: show-up 0.2s;
}

.validate--short::before{
  content: "🔐 дуже короткий пароль ! ";
  display: inline;
  padding: 0.6rem 1.2rem;
  background-color: rgba(233, 132, 64, 0.25);
  border: solid 0.14rem #E98540;
  border-radius: 0.6rem;

  color: #000;
  font-size: 1.2rem;
  
  position: absolute;
  left: 14rem;
  top: -0.2rem;

  animation: show-up 0.2s;
}

.validate--email::before{
  content: "⚠️ некоректна пошта ! ";
  display: inline;
  padding: 0.6rem 1.2rem;
  background-color: rgba(233, 132, 64, 0.25);
  border: solid 0.14rem #E98540;
  border-radius: 0.6rem;

  color: #000;
  font-size: 1.2rem;
  
  position: absolute;
  left: 14rem;
  top: -0.2rem;

  animation: show-up 0.2s;
}

@keyframes show-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated {
  animation: quake 0.4s;
}

@keyframes quake {
  25% {
    transform: translateX(-1.2rem);
  }
  50% {
    transform: translateX(1.2rem);
  }
  75% {
    transform: translateX(-1.2rem);
  }
  100% {
    transform: translateX(0);
  }
}