@import 'src/scss/variables.scss';

.btn {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;

  padding: 1.6rem 3.2rem;
  background-color: $mainColor;
  border-radius: 1.2rem;
  width: 24rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: $mainColorDarker;
}