@import "../../scss/variables.scss";

.header {
    width: 1315px;
    padding: 45px 0 0 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    width: 422px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileAvatar {
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.avatar {
    z-index: 2;
}

.ellipse {
    position: absolute;
    bottom: 0;
    left: -4px;
    z-index: 1;
}

.profileText {
    width: 332px;
    text-align: left;
    margin: 17px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
    font-family: $montserrat;
    color: $footerTextColor;
}

.title {
    font-size: 24px;
    font-weight: 700;
    font-family: $montserrat;
    color: $footerTextColor;
}

.headerControls {
    width: 631px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changeLangContainer {
    width: 105px;
    height: 40px;
    border-radius: 100px;
    box-shadow: $box-shadow;
    border: $border-shadow;
    background-color: $whiteColor;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selectLang {

}

.selectOption {
    color: $footerTextColor;
    font-size: 16px;
    font-weight: 700;
    font-family: $monda;
    text-transform: uppercase;
}
