@import "../../scss/variables.scss";

.footer {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  border-top: 0.1rem solid rgba(85, 85, 85, 0.25);
}

.footerContent {
  width: 125.5rem;
  padding: 5.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerTitle {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: $montserrat;
  color: $footerTextColor;
}
