@import "reset.scss";

.App {
  text-align: center;
  margin: 90px auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

* {
  color: #555;
}
