@import "reset.scss";

.App {
  text-align: center;
  margin: 90px auto;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.flex-justify-left {
  display: flex;
  justify-content: flex-start;
}
.flex-justify-right {
  display: flex;
  justify-content: flex-end;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}

* {
  color: #555;
}
