@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

$montserrat: "Montserrat", sans-serif;
$monda: "Monda", sans-serif;
$footerTextColor: rgba(85, 85, 85, 1);
$cardColor: rgba(207, 231, 233, 1);
$cardTextColor: rgba(119, 119, 119, 1);
