@import 'src/scss/variables.scss';

.svg {
  align-self: center;
  background: var(--morning-clear, linear-gradient(180deg, #A5F1FF 0%, #D0FFF9 100%));
  border-radius: 1.6rem;

  width: 28rem;
  height: auto;
}