@import "../../scss/variables.scss";

.labelSwitcher {
  width: 14.3rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $whiteColor;
  border-radius: 10rem;
  border: $border-shadow;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: linear 0.2s;
  &:hover {
    box-shadow: $shadow--smallElements-hover--orange;
  }
}

.inputSwitcher {
  display: none;
  &:checked + .wrapperTemp {
    &::before {
      left: calc(100% - 3px);
      transform: translate(-100%, -50%);
    }
  }
  &:checked + .wrapperTemp > .tempColorD {
    color: $whiteColor;
  }

  &:checked + .wrapperTemp > .tempColorW {
    color: $footerTextColor;
  }
}

.wrapperTemp {
  width: 8.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: left 0.2s;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 7.3rem;
    height: 3.4rem;
    border-radius: 100px;
    background-color: $orangeColor;
    box-shadow: 0 0 0.4rem 0 $orangeColor;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 0.3rem;
    transition: 0.2s;
  }
  &:active::before {
    width: 4.8rem;
  }
}

.tempText {
  color: $footerTextColor;
  font-size: 2rem;
  font-weight: 700;
  font-family: $monda;
  transition: 0.2s;
}

.tempColorW {
  color: $whiteColor;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.tempColorD {
  color: $footerTextColor;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
