@import "src/scss/variables.scss";

.card {
  display: flex;
  padding: 0.5rem 1.2rem 0.5rem 0.8rem;
  background-color: $cardColor;
  width: 100%;
  border-radius: 1.2rem;

  align-items: center;

  font-family: $monda;
  font-weight: 400;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
}

.tempMax {
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 0.2rem;
}

.tempMin {
  font-size: 1rem;
}

.date {
  margin-left: auto;
}

.day {
  font-size: 1.6rem;
  margin-right: 0.52rem;
}

.month {
  font-size: 1rem;
}
