@import "src/scss/variables.scss";

.message {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;

  padding: 1.2rem 3.2rem 1.2rem 2.4rem;

  position: absolute;
  right: -1rem;
  top: 12rem;
  font-size: 2.4rem;
  font-weight: 500;
  z-index: 99999;
  transition: all 0.2s;
  border-radius: 1.6rem;
  transform: translateX(100%);
}

:global(.isOpen) {
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

:global(.isClosed) {
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;
}


.green {
  background-color: rgba(11, 162, 11, 0.2);
  border-color: rgb(11, 162, 11);
  & > span {
    color: #fff;
  }
}
.yellow {
  background-color: #fff;
  box-shadow: 0 0 2rem 0rem rgba(51, 51, 51, 0.5);
  & > span {
    color: #333;
  }
}
.red {
  background-color: fff;
  box-shadow: 0 0 2rem 0rem rgba(209, 50, 50, 0.5);
  & > span {
    color: #333;
  }
}